body {
    font-family: "Helevtica", "Arial", sans-serif;
    max-width: 50rem;
    letter-spacing: 0.01rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    line-height: 1.45;
}
.body-wrapper {
    padding: 0 1em;
}

a {
    color: #2080c0;
}

.blog-title {
    font-size: 250%;
    vertical-align: middle;
    line-height: 1.5;
}

.header {
    margin-top: 1.5rem;
}

.header a {
    color: #000000;
    text-decoration: none;
}

.header a strong {
    font-weight: 900;
}

.blog-title-link {
    margin-left: 50px;
    vertical-align: middle;
    text-align: right;
}

h1.post-title {
    font-size: 144%;
    letter-spacing: 0.0rem;
    margin-bottom: 0rem;
}

div.post,
.post-excerpt,
.blog-index {
    margin-top: 2rem;
}

.post-meta, .post-meta-first, .post-date {
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
    color: #909090;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
}

.post-meta-first {
    margin-top: 0.5rem;
}

div.post-date {
    float : right;
}

.post-title{
    padding-top: 0.5rem;
    border-top: 2px solid black;
    line-height: 1.0;
    margin-top: 0.5rem;
}

.post-summary {
    margin-bottom: 3.5rem;
    clear : both;
}

.archive-group{
  padding-top: 1.5rem;
  clear:both;
  line-height: 1.7;
}

.archive-year{
  float:left;
  font-size:130%;
  font-weight:900;
}

.archive-list{
  float:left;
  margin-left: 1rem;
  padding-top: 0.3rem;
}

.pagination{
  margin-top:20px;
  text-align:center;
}

.pageNavigation {
  font-size: 80%;
  margin-top:20px;
  display: block;
  width: auto;
  overflow: hidden;
}

.pageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.pageNavigation .next {
  text-align: right;
}

a[href*="//"]:not([href*="nittka"])::after {
  content: "ext";
  font-size: 60%;
  vertical-align: top;
}